name: Build

on:
  push:

jobs:

  mingw32-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install build requirements
      run: |
        sudo apt -y install gcc-mingw-w64
    - name: Build dmidecode
      run: |
        if [ -z "${GITHUB_REF##*refs/tags/*}" ]; then
            VERSION="${GITHUB_REF#*refs/tags/}"
        else
            read A B V < version.h
            VERSION=$( echo $V | tr -d '"' )-git${GITHUB_SHA:0:8}
        fi
        sed -ri -e 's/VERSION.*/VERSION "'$VERSION'"/' version.h
        echo "VERSION: $VERSION"
        make
        make strip
        ls -l dmidecode.exe
        read SHA1 XXX <<<$(sha1sum dmidecode.exe)
        printf "%6s: %s\n" SHA1 $SHA1
        sha256sum dmidecode.exe >dmidecode.exe.sha256
        read SHA256 XXX < dmidecode.exe.sha256
        printf "%6s: %s\n" SHA256 $SHA256
      shell: bash
    - name: Upload built artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Dmidecode-Build
        path: |
          dmidecode.exe
          dmidecode.exe.sha256
    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        draft: false
        prerelease: false
        body: |
          Stripped dmidecode binary to be included in GLPI Agent Windows MSI package
        files: |
          dmidecode.exe
          dmidecode.exe.sha256
